.header{
background-color: rgba(240, 255, 240, 0.74);
    text-align: center;
    padding: 5px;
    line-height: 20px; 
    margin-right: 30px;
    margin-left: 30px;
    color: green;
   
   
}
